.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
}

.gallery div img{
    width:200px;
    height:auto;

    border: 4px solid blue;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 2.0s ease;
}

.gallery div img:hover{
    -webkit-transform: rotateZ(45deg);
    -webkit-box-shadow: -5px 5px 5px #aaa;
}
.zoomgallery{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
}

.zoomgallery div img{
    width:200px;
    height:auto;


}

.zoomgallery div img:hover{
    -webkit-transform: scale(2,2);
    -webkit-box-shadow: -5px 5px 5px #aaa;
}
.movegallery{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
}

.movegallery div img{
    width:200px;
    height:auto;

    border: 4px solid blue;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 2.0s ease;
}

.movegallery div img:hover{
    -webkit-transform: translateY(200px);
    -webkit-box-shadow: -5px 5px 5px #aaa;
}

@-webkit-keyframes myanimation_koala {
    0% {

        opacity:1.0;

    }
    50%
    {
        opacity:0.5;

    }
    100%
    {
        opacity:0.0;

    }

}

.animategallery{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
}

.animategallery div img{
    -webkit-animation-name: myanimation_koala;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-delay: 3s;
    -webkit-animation-timing-function: linear;
    width:400px;
    height:auto;

}

.animategallery div img:hover{
    -webkit-transform: scale(1,2);
    -webkit-box-shadow: -15px 15px 15px blueviolet;
}
#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url('../images/borderimages.jpg') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('../images/borderimages.jpg') 30 round; /* Opera 11-12.1 */
    border-image: url('../images/borderimages.jpg') 30 round;
}
