.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    font-size: xx-large;

}


.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Lucida Calligraphy"
}
.logo{

    width:100px;
    height: 100px;
    padding-right: 150px;
}

.banner{
    width: 300px;
    height: 100px;
    padding-left: 100px;
}

.article{
    display: block;
    background-color: aqua;
    width:300px;
    height:200px;
    margin-left: 35%;
    padding:10px;

}
.article:hover{
    cursor: pointer;
}


#root nav {
    margin-left: 25%;
}

#root nav ul li {
    display: inline-block;
    list-style: none;
    color:goldenrod;
    padding: 25px;
    font-size: x-large;
    background-color: black;
}
#root nav ul li a {
    text-decoration: none;
}
#root nav ul li:hover {
    color:black;
    background-color: goldenrod;
}

.title{
  padding:75px;
  font-weight: bold;

}


